{% extends "base.html" %}
{% block title %}Hi my name is Andreas! {% endblock %}
{% block content %} 

<article>
    <header>
        <h2>About</h2>
    </header>
    <p >
		Hi my name is Andreas Gerono and this is my portfolio/archive page. I can describe myself as a person of many interests, but all of them are somehow connected to computing. I am not a good writer so if you want to know more about me just go through my projects 😉. My curiosity and thirst for knowledge drivers me forward, thus list of my stuff only gets longer...
    </p>
</article>
{% endblock %}