{% extends "base.html" %}
{% block title %} {{article.title}} {% endblock %}

{% block styles %}{% load static %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock %}

{% block content %}

<article>
    <header>
        <h2>{{article.title}}</h2>
        <p>{{article.date|date:"F d, Y" }}</p>
    </header>
    <p> {{article.text|safe}} </p>
    
</article>

<div class="gallery">
    <div class="images">
        {% for image in images %}
        <div><img src="{{ image.image.url }}" alt="{{ image.alt }}" title="{{ image.title }}" /></div>
        {% endfor %}
    </div>

    {% if images|length > 1 %}
    <nav class="dotnav"> 
        <ul>
            {% for image in images %}
            <li><span class="dotnav-item"></span></li> 
            {% endfor %}
        </ul>
    </nav>
    {% endif %}


</div>

{% endblock %}

{% block body_script %} {% load static %}
<script type="text/javascript" src="{% static 'scripts/gallery.js' %}"></script>
{% endblock %}
