{% extends "base.html" %}
{% block title %} Welcome! {% endblock %}

{% block sidebar_links %}
    <li><a href="/">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Archive</a></li>
{% endblock %}

{% block content %} 

<article>
    <header>
        <h2><a href="#">Some title!</a></h3>
        <p>February 9, 2021</p>
    </header>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut venenatis iaculis ipsum quis fringilla. Maecenas bibendum sagittis tellus eu molestie. Donec ut mi dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam eget quam sed sem efficitur ultricies. Sed libero libero, molestie sit amet accumsan a, maximus quis sem. Ut id mattis nulla. Nulla nec massa sit amet velit euismod varius. Maecenas blandit vitae metus non convallis. Pellentesque suscipit euismod laoreet. Mauris congue dictum justo, ut pulvinar mauris tristique a. Donec sagittis sodales molestie. Etiam vitae quam neque. Curabitur at dui dapibus, imperdiet lorem nec, rhoncus mauris. Suspendisse potenti. Quisque efficitur, orci quis blandit euismod, elit nibh pellentesque neque, a placerat est urna eu sem. 
    </p>
</article>
{% endblock %}