<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add additional CSS and scripts in static file -->
    {% load static %} <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
        
<body>
    <div class="box">
        <div class="banner"></div>
        <div class="sidebar">
            <p>By <strong>Andreas Gerono</strong></p>
            <ul>
                {% block sidebar_links %}{% endblock %}
                <li><a href="https://github.com/AndreasGerono">GitHub</a></li>
                <li><a href="#">LinkedIn</a></li>
            </ul>
        </div>
        <div class="content">{% block content %} {% endblock %}</div>
    </div>


 <footer>
  <p>© 2021 Andreas Gerono</p>
  <p><a href="mailto:andreas.gerono@gmail.com">andreas.gerono@gmail.com</a></p>
</footer> 

</body>
</html>
