<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add additional CSS and scripts in static file -->
    {% load static %} <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% load static %} <link rel="icon"href="{% static 'favicon.ico' %}">
</head>
        
<body>
    <div class="box">
        <div class="banner"></div>
        <div class="sidebar">
            <p><a href="{% url 'home' %}">By <strong>Andreas Gerono</a></strong></p>
            <ul>
                {% block sidebar_links %}{% endblock %}
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'archive' %}">Archive</a></li>
                <li><a href="https://github.com/AndreasGerono">GitHub</a></li>
                <li><a href="https://pl.linkedin.com/in/andreas-gerono-50936915a">LinkedIn</a></li>
                <li><a href="https://circuitmaker.com/User/Details/Andreas-Gerono">CircuitMaker</a></li>
            </ul>
        </div>
        <div class="content">{% block content %} {% endblock %}</div>
        <dir class="space"></dir>
    </div>


 <footer>
  <p>© 2021 Andreas Gerono</p>
  <p><a href="mailto:andreas.gerono@gmail.com">andreas.gerono@gmail.com</a></p>
</footer> 

</body>
</html>
