{% extends "base.html" %}
{% block title %} Welcome! {% endblock %}
{% block content %} 

{% for article in articles %}
<article>
    <header>
        {% url 'article' 2020 12 "some_slug" as article_url %}
        <h2><a href="/{{article.date.year}}/{{article.date.month}}/{{article.slug}}">{{ article.title }}</a></h3>
        <p >{{article.date|date:"F d, Y" }}</p>
    </header>
    <p>
        {{article.text|truncatewords:150|safe}}
        <br>
        <a class="no_style" href="/{{article.date.year}}/{{article.date.month}}/{{article.slug}}">read more</a>
    </p>
</article>
{% endfor %}
<div>
    <p style="text-align: center; color: #ccc;">*     *     *
        <br><a href="{% url 'archive' %}" class="no_style">find more of my projects in the archive</a>
    </p>
</div>
{% endblock %}