img {
	display: block;
	max-width: 100%;
}


.gallery::-webkit-scrollbar {
    -webkit-appearance: none;
}

.gallery::-webkit-scrollbar:vertical {
    width: 11px;
}

.gallery::-webkit-scrollbar:horizontal {
    height: 11px;
}

.gallery::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}


.gallery {
	margin: 50px 25px 0px 25px;
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	display: flex;
	height: 70vh;
}

.gallery__img {
	scroll-snap-align: start;
	margin-bottom: 10px;
	object-fit: scale-down;
}
