.images::-webkit-scrollbar {
    -webkit-appearance: none;
}

.images::-webkit-scrollbar:vertical {
    display: none;
 }

.images::-webkit-scrollbar:horizontal {
    display: none;
}

.images::-webkit-scrollbar-thumb {
    display: none;
}

.images {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.images img {
    display: block;
    max-width: calc(100% - 10px);
    height: calc(100% - 10px);
    object-fit: scale-down;
    margin: 5px auto 5px auto;
    filter: drop-shadow(1.75px 1.75px 2px rgba(0, 0, 0, 0.5));
}

.images div {
    scroll-snap-align: start;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.images {
    margin-top: 50px;
    margin-bottom: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: min(75vh, 800px);    
}

/*
 *  Dotnav styles were borrowed from Apple.com page 
 */

.dotnav {
	margin-top: 0;
    text-align:center;
}

.dotnav ul {
    margin: 0;
    list-style: none;
    display:inline-block;
    position: relative;
	right: 20px;	/* HACK - TODO Fix this strange margin */
}

.dotnav li {
    list-style: none;
    margin: 0 7px;
    width: 8px;
    height: 8px;
    float: left;
    position:relative;
}

.dotnav-item {
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    outline: none;
    position: absolute;
    border-radius: 50%;
    padding: 0.5px;
    background-color: hsla(0, 0%, 53.3%, .4);
    box-sizing: content-box;
    cursor: pointer;
}

.dotnav-item:hover {
    background-color:hsla(0, 0%, 53.3%, .7);
}

.dotnav-item:focus {
    box-shadow: 0 0 0 3px rgba(131, 192, 253, .5);
    outline:none;
}

.dotnav-item.current {
    background-color: #888;
    cursor:default;
}

/*
 *  
 */
