html {
    overflow:scroll;
}


body {
    font-family: 'Avenir Next', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0 auto;
    background-color: #fff;
    color: #222222;
    word-wrap: break-word;
}


h2 {
    font-size: 1.5em;
    line-height: 1.25;
    font-weight: 500;
    color: #000;
}


article {
    margin-top: 50px;
    line-height: 1.6;
}


article h2 a {
    text-decoration: none;
    color: #000;
}

article h2 {
    margin-bottom: 0px;
    color: #000;
}

article header p {
    margin: 0;
    color: #888;
}

article p {
  /*text-align: justify;*/
  /*text-justify: inter-word;*/
}

a.no_style {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}

footer {
    margin:  0;
    text-align: center;
    font-size: 13px;
    margin-top: 50px;
}

a {
    color: #b5190e;
}

.content {
    width: 600px;
    min-width: 600px;
    margin: 0 auto;
}


.sidebar {
    width: 200px;
    min-width: 200px;
    margin-right: 10px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #5F9EA0;
    position: sticky;
    border-bottom: 1px solid black;
}

.box {
    display: flex;
}

.sidebar p {
    margin-top: 50px;
}

.sidebar p {
    margin-left: 20px;
    color: white;
}

.sidebar ul {
    padding-bottom: 200px;
}

.sidebar li {
    padding: 5px;
    list-style-type: none;
}

.sidebar a {
    text-decoration: none;
    color: white;
}

.sidebar a:hover {
    color: #818181;
}


.space {
    width: 200px;
    margin-left: 10px;
}

.archive {
    margin-top: 50px;
}

.archive p {
    font-size: 1.1em;
    line-height: 1.25;
    font-weight: 400;
    color: #000;
}

.archive li {
    margin-left: 32px;
}

.images {
   text-align: center;
}
.images img{
    margin-top: 50px;
    max-width: 500px;
}

@media (max-width:800px) {
.sidebar {
    width: 100%;
    min-width: 100%;
    margin-right: 0px;
    top: 0;
    left: 0;
    background-color: #5F9EA0;
    position: static;
    margin-bottom: 0px;
    border-bottom: 1px solid black;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: : center;
}

.sidebar p {
    margin-top: 5px;
    margin-bottom: 0px;
}

.sidebar ul {
    padding-bottom: 0px;
    margin-top: 0px;
}
.sidebar li{
    float: left;
}

.space {
    visibility: hidden;
}

.content {
    max-width: 600px;
    width: min(600px, calc(100% - 10px));
    min-width: min(600px, calc(100% - 10px));
}

}
